* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.navbar {
    height: 60px;
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url('images/amazon_logo.png');
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid white;
    border-radius: 3px;
}

.nav-address {
    height: 50px;
    padding-top: 5px;
}

.first-part {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.second-part {
    font-size: 1rem;
    margin: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}


.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid #131921;
}

.nav-search:hover {
    border: 2px solid orange;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
    font-weight: lighter;
    border: none;
    background-color: transparent;
    padding: 0;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd68;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}


span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}



.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
    /* height: 50px; */
}


/*panel*/

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline;
    margin-left: 15px;
}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/* hero section starts here  */

.hero-section {
    background-image: url('images/hero_image.jpg');
    height: 380px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message {
    color: black;
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 25px;
    width: 80%;

}

.hero-message a {
    color: #007185;
}


/* shop section */
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    padding-bottom: 30px;
}

.box {
    width: 23%;
    height: 400px;
    background-color: white;
    padding: 10px 10px;
    border-radius: 5px;
    margin-top: 15px;
}

.box-img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin: 10px 0px;

}

.box a {
    text-decoration: none;
    color: #007185;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* footer section  */
footer {
    margin-top: 15px;
    border-bottom: 0.5px solid #a39c9c;
}

.footer-panel {
    background-color: #37475a;
    color: white;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    cursor: pointer;

}

.footer-panel:hover {
    background-color: #485769;
}

.footer-list {
    background-color: #232F3E;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 400px;
    padding: 40px 100px;
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 0.88rem;
}

.footer-list ul {
    list-style: none;
}

.footer-list ul li a {
    text-decoration: none;
    color: rgb(211, 208, 208);
}

.footer-list ul li {
    margin-bottom: 10px;
}

.footer-brand {
    background-color: #232F3E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}

.footer-brand img {
    height: 50px;

}

.user-options {
    display: flex;
    margin-left: 40px;
}

.user-options div {
    border: 0.1px solid rgb(165, 161, 161);
    border-radius: 5px;
    color: rgb(218, 216, 216);
    padding: 6px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
    font-size: 0.85rem;
    margin-left: 15px;
    cursor: pointer;
}